.Drawer {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 500px) {
  .Drawer {
    background-size: auto;
    width: 70%;
  }
}

.DrawerItems,
.CloseSidebarContainer {
  width: 100%;
}

.DrawerItems > div {
  transition: 0.3s;
}

.DrawerItems > div:hover {
  background-color: rgba(245, 200, 87, 0.2);
}

.DrawerItemIcons {
  padding-right: 10px;
}
