.DrawerItem {
  box-sizing: border-box;
  display: block;
  height: 100%;
  padding: 0 40px;
}

.DrawerItem a {
  color: #f2e0d0;
  text-decoration: none;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.DrawerItem a:active,
.DrawerItem a.active {
  color: #40a4c8;
}

/* @media (min-width: 500px) {
  .DrawerItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }

  .DrawerItem a {
    color: white;
    height: 100%;
    padding: 16px 10px;
    display: 4px solid transparent;
  }

  .DrawerItem a:hover,
  .DrawerItem a:active,
  .DrawerItem a.active {
    background-color: #8f5c2c;
    border-bottom: 4px solid #40a4c8;
    color: white;
  }
} */
